extends layout

block content
    h1 #{pokeName}
    .row
        .col-lg-12
            table.table.table-hover
                thead
                    th Level learned
                    th Move
                    th Type
                    th Power
                    th Accuracy
                    th PP
                tbody
                    each move, i in pokeMoves
                        tr
                            td #{move.level}
                            td #{move.move_name}
                            td #{move.identifier}
                            td #{move.power} 
                            td #{move.accuracy}
                            td #{move.pp}
                                
